// Colours

$darkbg: linear-gradient(#1c0522, #05205b);
$darkbgc: #05205b;
$darkbgl: linear-gradient(#05205b, #1c0522);
$lightbg: linear-gradient(rgb(178, 220, 255), rgb(255, 255, 255));
$lightbgls: linear-gradient(rgba(178, 220, 255, 0.65), rgba(255, 255, 255, 0.65));
$darkft: white;
$lightft: rgb(37, 0, 131);

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

#particles-js {
    width: 100%;
    height: 100vh;
}

#particles-js1 {
    width: 100%;
    height: 100vh;
}

body {
    min-height: 100vh;
    background: $darkbg;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

    .ico {
        color: $darkft;
        font-weight: 700;
        text-decoration: none;
        font-size: 2.75vmax;
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin-left: 0.2em;
            margin-right: 0.2em;

            a {
                text-decoration: none;
                padding: 0.3em 0.5em;
                color: $darkft;
                border-radius: 5px;

                &:hover,
                &.active {
                    background: $lightbgls;
                    box-shadow: 7px 7px 14px #1c0b38,
                        -7px -7px 14px #3a1572;
                    transition: 0.75s;
                    backdrop-filter: blur(5px);
                    color: $lightft;
                }
            }
        }
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: start;

    &:nth-of-type(1) {
        background: $darkbgl;
    }

    &:nth-of-type(2) {
        background: $darkbg;
    }

    &:nth-of-type(3) {
        background: $darkbgl;
    }

    &.top::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25em;
        background: linear-gradient(to top, #1c0522, transparent);
        z-index: 1000;
    }

    &.top {
        .scroll-down {
            position: absolute;
            bottom: 7em;
            display: block;
            text-align: center;
            font-size: 20px;
            z-index: 100000;
            text-decoration: none;
            text-shadow: 0;
            width: 13px;
            height: 13px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: translate(-50%, 0%) rotate(45deg);
            animation: fade_move_down 2s ease-in-out infinite;
        }

        .menu {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            z-index: 100000;
            border-radius: 2em;
            max-width: 85%;
            position: fixed;
            display: block;
            text-align: center;
            padding: 1vmax;
            bottom: 2em;

            .active {
                background: $lightbgls;
                border-radius: 0.3em;
            }

            .items {
                text-decoration: none;
                color: $darkft;
                padding-left: 0.5vmax;
                padding-right: 0.5vmax;

                .material-symbols-rounded {
                    font-size: 2em;
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 40,
                        'GRAD' 0,
                        'opsz' 4
                }
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &#moon {
            mix-blend-mode: screen;
        }

        &#mountf {
            z-index: 10;
            animation: fmount 0.5s ease-in-out infinite;
        }

        &#mountb {
            animation: bmount 1s ease-in-out infinite;
        }

        &#stars {
            width: auto;
        }
    }

    #intro {
        position: absolute;
        right: -420px;
        color: $darkft;
        white-space: nowrap;
        font-size: 10.5vw;
        // font-size: 1.5em;
        z-index: 9;
    }

    .content {
        width: 100%;
        text-align: center;
        position: absolute;
        color: $darkft;
        padding-top: 50px;
        pointer-events: none;

        h2 {
            font-size: 3.5em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1em;
            margin-bottom: 10px;
        }
    }
}

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fmount {
    0% {
        filter: drop-shadow(0px 0px #1b0622);
    }

    25% {
        filter: drop-shadow(1px 1px 2px #1b0622);
    }

    50% {
        filter: drop-shadow(0px 0px #1b0622);
    }

    75% {
        filter: drop-shadow(-1px -1px 2px #1b0622);
    }

    100% {
        filter: drop-shadow(0px 0px #1b0622);
    }
}

@keyframes bmount {
    0% {
        filter: drop-shadow(0px 0px #1b0622) blur(5px);
    }

    25% {
        filter: drop-shadow(-1px -1px 2px #1b0622)blur(5px);
    }

    50% {
        filter: drop-shadow(0px 0px #1b0622) blur(5px);
    }

    75% {
        filter: drop-shadow(1px 1px 2px #1b0622) blur(5px);
    }

    100% {
        filter: drop-shadow(0px 0px #1b0622) blur(5px);
    }
}