// Colours

$darkbg: linear-gradient(#1c0522, #05205b);
$darkbgc: #05205b;
$darkbgl: linear-gradient(#05205b, #1c0522);
$lightbg: linear-gradient(rgb(178, 220, 255), rgb(255, 255, 255));
$lightbgls: linear-gradient(rgba(178, 220, 255, 0.35));
$darkft: white;
$lightft: rgb(37, 0, 131);

:root {
    --white: white;
    --green: #84ff00;
    --borderFormEls: hsl(150, 100%, 50%);
    --bgFormEls: linear-gradient(to right, rgb(20, 30, 48, 0.3), rgba(36, 59, 85, 0.3));
    --bgFormElsFocus: linear-gradient(to right, rgb(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8));
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::placeholder {
    color: $darkft;
    text-align: center;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $darkft;
    text-align: center;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $darkft;
    text-align: center;
}

::-moz-selection {
    /* Code for Firefox */
    color: #de5246;
    background: #5b0a91;
}

::selection {
    color: #de5246;
    background: #5b0a91;
}

*::-webkit-scrollbar {
    display: none;
}

#particles-js {
    width: 100%;
    height: 100vh;
}

#particles-js1 {
    width: 100%;
    height: 100vh;
}

#particles-js2 {
    width: 100%;
    height: 100vh;
}

#particles-js3 {
    width: 100%;
    height: 100vh;
}

#particles-js4 {
    width: 100%;
    height: 100vh;
}

#particles-js5 {
    width: 100%;
    height: 100vh;
}

body {
    min-height: 100vh;
    background: $darkbg;
    overflow-x: hidden;

    .term {
        opacity: 01;
        overflow-y: auto;
        overflow-x: hidden;
        color: $darkft;
        font-weight: 50;
        text-decoration: none;
        font-size: 1.5vmax;
        text-transform: lowercase;
        letter-spacing: 0.01em;
    }

    .term:after {
        content: "_";
        opacity: 1;
        animation: cursor 1s infinite;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5em 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;

        a>pre::before {
            content: "gururam@dev:~$ ";
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                margin-left: 0.2em;
                margin-right: 0.2em;

                a {
                    text-decoration: none;
                    padding: 0.3em 0.5em;
                    color: $darkft;
                    border-radius: 5px;

                    &:hover,
                    &.active {
                        background: $lightbgls;
                        transition: 0.75s;
                        backdrop-filter: blur(5px);
                        color: $lightft;
                    }
                }
            }
        }
    }

    section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        scroll-snap-align: start;

        &:nth-of-type(1) {
            background: $darkbgl;
        }

        &:nth-of-type(2) {
            background: $darkbg;
        }

        &:nth-of-type(3) {
            background: $darkbgc;
        }

        &:nth-of-type(4) {
            background: $darkbgc;
        }

        &:nth-of-type(5) {
            background: $darkbgc;
        }

        &:nth-of-type(6) {
            background: $darkbgc;
        }

        &:nth-of-type(7) {
            background: $darkbgl;
        }

        &.top::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 25em;
            background: linear-gradient(to top, #1c0522, transparent);
            z-index: 1000;
        }

        &.top {
            .scroll-down {
                position: absolute;
                bottom: 7em;
                display: block;
                text-align: center;
                font-size: 20px;
                z-index: 100000;
                text-decoration: none;
                text-shadow: 0;
                width: 13px;
                height: 13px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: translate(-50%, 0%) rotate(45deg);
                animation: fade_move_down 2s ease-in-out infinite;
            }

            .menu {
                background: rgba(255, 255, 255, 0.08);
                backdrop-filter: blur(5px);
                z-index: 100000;
                border-radius: 2em;
                max-width: 85%;
                position: fixed;
                display: block;
                text-align: center;
                padding: 1vmax;
                bottom: 2em;
                list-style: none;

                .active {
                    background: $lightbgls;
                    border-radius: 2em;
                    width: fit-content;
                }

                li {
                    display: inline-block;

                    .items {
                        text-decoration: none;
                        color: $darkft;
                        padding-left: 0.5vmax;
                        padding-right: 0.5vmax;

                        .material-symbols-rounded {
                            font-size: 2em;
                            font-variation-settings:
                                'FILL' 0,
                                'wght' 1,
                                'GRAD' 0,
                                'opsz' 4
                        }
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &#mountf {
                z-index: 10;
                animation: fmountb 15s ease-in-out infinite;
                // animation-name: fmount, fmountb;
                // animation-duration: 0.5s, 15s;
                // animation-timing-function: ease-in-out, ease-in-out;
                // animation-iteration-count: infinite, infinite;
            }

            &#mountb {
                animation: bmount 15s ease-in-out infinite;
            }

            &#stars {
                width: auto;
                animation: stars 15s ease-in-out infinite;
            }

            &#moon {
                mix-blend-mode: screen;
                // animation: moon 15s ease-in-out infinite;
            }
        }

        #intro {
            position: absolute;
            right: -420px;
            color: $darkft;
            white-space: nowrap;
            font-size: 10.5vw;
            // font-size: 1.5em;
            z-index: 9;
        }

        .content {
            width: 100%;
            text-align: center;
            position: absolute;
            color: $darkft;
            pointer-events: none;
            height: 100vh;
            display: flex;
            flex-direction: column;

            h2 {
                padding: 0.5em;
                font-size: 2vmax;
            }

            p {
                line-height: 2.5vmin;
                font-size: 0.95vmax;
                margin-bottom: 10px;

                @media screen and (max-width: 1000px) {
                    line-height: 2.1vmax;
                    font-size: 1.4vmax;
                }

                @media screen and (max-width: 465px) {
                    line-height: 2vmax;
                    font-size: 1.3vmax;
                }
            }

            .block {
                height: 75%;
                width: 85%;
                border-radius: 1em;
                margin: auto;
                background: $lightbgls;
                display: flex;
                backdrop-filter: blur(3px);
                justify-content: center;
                align-items: center;

                // .txtd {
                //     color: $darkft;
                //     text-align: start;
                //     mix-blend-mode: multiply;
                //     border: 0px none;
                //     height: 10%;
                //     width: 55%;
                //     border-radius: 1em;
                //     background: rgba(72, 92, 129, 0.6);
                //     box-shadow: 9px 9px 18px #323f59,
                //         -9px -9px 18px #5e79a9;

                //     &.large {
                //         height: 40%;
                //         width: 85%;
                //     }
                // }

                .container {
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    padding: 0 1.5rem;
                }

                .my-form {
                    width: 90%;

                    p {
                        margin-bottom: 0px;
                        line-height: 2.5vmin;
                        font-size: 0.95vmax;

                        @media screen and (max-width: 1500px) {
                            line-height: 2.1vmax;
                            font-size: 1.5vmax;
                        }

                        @media screen and (max-width: 600px) {
                            line-height: 2vmax;
                            font-size: 2vmax;
                        }
                    }
                }

                ul {
                    list-style-type: none;
                }

                .my-form h1 {
                    margin-bottom: 1.5rem;
                }

                .my-form li,
                .my-form .grid>*:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

                .my-form input,
                .my-form button,
                .my-form textarea {
                    border-radius: 1em;
                }

                .my-form select,
                .my-form input,
                .my-form textarea,
                .my-form button {
                    width: 100%;
                    line-height: 1.5;
                    padding: 15px 10px;
                    border: 1px solid var(--borderFormEls);
                    background: var(--bgFormEls);
                    color: var(--white);
                    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
                        transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
                }

                .my-form textarea {
                    height: 170px;
                }

                .my-form ::placeholder {
                    color: inherit;
                    /*Fix opacity issue on Firefox*/
                    opacity: 1;
                }

                .my-form select:focus,
                .my-form input:focus,
                .my-form textarea:focus,
                .my-form button:enabled:hover,
                .my-form button:focus {
                    background: var(--bgFormElsFocus);
                }

                .my-form select:focus,
                .my-form input:focus,
                .my-form textarea:focus {
                    transform: scale(1.02);
                }

                .my-form *:required,
                .my-form select {
                    background-repeat: no-repeat;
                    background-position: center right 3%;
                    background-size: 15px 15px;
                }

                .my-form *:required {
                    background: var(--bgFormEls);
                }

                .my-form *:disabled {
                    cursor: default;
                    filter: blur(2px);
                }


                /* FORM BTNS
                  –––––––––––––––––––––––––––––––––––––––––––––––––– */
                .my-form .required-msg {
                    display: none;
                    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left / 15px 15px;
                    padding-left: 20px;
                }

                .my-form .btn-grid {
                    position: relative;
                    overflow: hidden;
                    transition: filter 0.2s;
                }

                .my-form button {
                    font-weight: bold;
                }

                .my-form button>* {
                    transition: transform 0.4s ease-in-out;
                }

                .my-form button .back {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-110%, -50%);
                }

                .my-form button:enabled:hover .back,
                .my-form button:focus .back {
                    transform: translate(-50%, -50%);
                }

                .my-form button:enabled:hover .front,
                .my-form button:focus .front {
                    transform: translateX(110%);
                }


                /* CUSTOM CHECKBOX
                  –––––––––––––––––––––––––––––––––––––––––––––––––– */
                .my-form input[type="checkbox"] {
                    position: absolute;
                    left: -9999px;
                }

                .my-form input[type="checkbox"]+label {
                    position: relative;
                    display: inline-block;
                    padding-left: 2rem;
                    transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
                }

                .my-form input[type="checkbox"]+label::before,
                .my-form input[type="checkbox"]+label::after {
                    content: '';
                    position: absolute;
                }

                .my-form input[type="checkbox"]+label::before {
                    left: 0;
                    top: -0.1em;
                    width: 1em;
                    height: 1em;
                    border: 2px solid var(--white);
                }

                .my-form input[type="checkbox"]:checked+label::before {
                    background: var(--green);
                }

                .my-form .grid {
                    display: grid;
                    grid-gap: 1.5rem;
                }

                .my-form .grid-2 {
                    grid-template-columns: 1fr 1fr;
                }

                .my-form .grid-3 {
                    grid-template-columns: auto auto auto;
                    align-items: center;
                }

                .my-form .grid>*:not(:last-child) {
                    margin-bottom: 0;
                }

                .my-form .required-msg {
                    display: block;
                }

                @media screen and (min-width: 541px) {
                    .my-form input[type="checkbox"]+label::before {
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .my-form input[type="checkbox"]:checked+label::after {
                        top: 3px;
                    }
                }

                .splide {
                    width: 75%;

                    @media screen and (max-width: 930px) {
                        width: 85%;
                    }
                }

                .splide__container {
                    box-sizing: border-box;
                    position: relative
                }

                .splide__list {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    display: -ms-flexbox;
                    display: flex;
                    height: 100%;
                    margin: 0 !important;
                    padding: 0 !important
                }

                .splide.is-initialized:not(.is-active) .splide__list {
                    display: block
                }

                .splide__pagination {
                    -ms-flex-align: center;
                    align-items: center;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-pack: center;
                    justify-content: center;
                    margin: 0;
                    pointer-events: none
                }

                .splide__pagination li {
                    display: inline-block;
                    line-height: 1;
                    list-style-type: none;
                    margin: 0;
                    pointer-events: auto
                }

                .splide__progress__bar {
                    width: 1
                }

                .splide {
                    position: relative;
                    visibility: hidden
                }

                .splide.is-initialized,
                .splide.is-rendered {
                    visibility: visible
                }

                .splide__slide {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    box-sizing: border-box;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    list-style-type: none !important;
                    margin: 0;
                    position: relative;
                    flex-direction: column;

                    div>p {
                        margin: auto;
                    }

                    div>p:first-child {
                        padding-top: 1em;
                    }
                }


                .splide__slide img {
                    vertical-align: bottom
                }

                .splide__slide svg {
                    vertical-align: bottom;
                    height: 20%;
                    width: auto;
                }

                .splide__spinner {
                    animation: splide-loading 1s linear infinite;
                    border: 2px solid #999;
                    border-left-color: transparent;
                    border-radius: 50%;
                    bottom: 0;
                    contain: strict;
                    display: inline-block;
                    height: 20px;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 20px
                }

                .splide__sr {
                    clip: rect(0 0 0 0);
                    border: 0;
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px
                }

                .splide__toggle.is-active .splide__toggle__play,
                .splide__toggle__pause {
                    display: none
                }

                .splide__toggle.is-active .splide__toggle__pause {
                    display: inline
                }

                .splide__track {
                    overflow: hidden;
                    position: relative;
                    z-index: 0
                }

                @keyframes splide-loading {
                    0% {
                        transform: rotate(0)
                    }

                    to {
                        transform: rotate(1turn)
                    }
                }

                .splide__track--draggable {
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none
                }

                .splide__track--fade>.splide__list {
                    display: block
                }

                .splide__track--fade>.splide__list>.splide__slide {
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    z-index: 0
                }

                .splide__track--fade>.splide__list>.splide__slide.is-active {
                    opacity: 1;
                    position: relative;
                    z-index: 1
                }

                .splide--rtl {
                    direction: rtl
                }

                .splide__track--ttb>.splide__list {
                    display: block
                }

                .splide__arrow {
                    -ms-flex-align: center;
                    align-items: center;
                    background: #ccc;
                    border: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    display: -ms-flexbox;
                    display: flex;
                    height: 2em;
                    -ms-flex-pack: center;
                    justify-content: center;
                    opacity: .7;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2em;
                    z-index: 1
                }

                .splide__arrow svg {
                    fill: #000;
                    height: 1.2em;
                    width: 1.2em
                }

                .splide__arrow:hover:not(:disabled) {
                    opacity: .9
                }

                .splide__arrow:disabled {
                    opacity: .3
                }

                .splide__arrow:focus-visible {
                    outline: 3px solid #0bf;
                    outline-offset: 3px
                }

                .splide__arrow--prev {
                    left: 1em
                }

                .splide__arrow--prev svg {
                    transform: scaleX(-1)
                }

                .splide__arrow--next {
                    right: 1em
                }

                .splide.is-focus-in .splide__arrow:focus {
                    outline: 3px solid #0bf;
                    outline-offset: 3px
                }

                .splide__pagination {
                    bottom: .5em;
                    left: 0;
                    padding: 0 1em;
                    position: absolute;
                    right: 0;
                    z-index: 1
                }

                .splide__pagination__page {
                    background: #ccc;
                    border: 0;
                    border-radius: 50%;
                    display: inline-block;
                    height: 8px;
                    margin: 3px;
                    opacity: .7;
                    padding: 0;
                    position: relative;
                    transition: transform .2s linear;
                    width: 8px
                }

                .splide__pagination__page.is-active {
                    background: #fff;
                    transform: scale(1.4);
                    z-index: 1
                }

                .splide__pagination__page:hover {
                    cursor: pointer;
                    opacity: .9
                }

                .splide__pagination__page:focus-visible {
                    outline: 3px solid #0bf;
                    outline-offset: 3px
                }

                .splide.is-focus-in .splide__pagination__page:focus {
                    outline: 3px solid #0bf;
                    outline-offset: 3px
                }

                .splide__progress__bar {
                    background: #ccc;
                    height: 3px
                }

                .splide__slide {
                    -webkit-tap-highlight-color: transparent;
                    width: 33.3333333333333333333333333333333333333333333333333333333%;

                    @media screen and (max-width: 930px) {
                        width: 100%;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div>p {
                        max-width: 90%;
                    }
                }

                .splide__slide:focus {
                    outline: 0
                }

                @supports(outline-offset:-3px) {
                    .splide__slide:focus-visible {
                        outline: 3px solid #0bf;
                        outline-offset: -3px
                    }
                }

                @media screen and (-ms-high-contrast:none) {
                    .splide__slide:focus-visible {
                        border: 3px solid #0bf
                    }
                }

                @supports(outline-offset:-3px) {
                    .splide.is-focus-in .splide__slide:focus {
                        outline: 3px solid #0bf;
                        outline-offset: -3px
                    }
                }

                @media screen and (-ms-high-contrast:none) {
                    .splide.is-focus-in .splide__slide:focus {
                        border: 3px solid #0bf
                    }

                    .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
                        border-color: #0bf
                    }
                }

                .splide__toggle {
                    cursor: pointer
                }

                .splide__toggle:focus-visible {
                    outline: 3px solid #0bf;
                    outline-offset: 3px
                }

                .splide.is-focus-in .splide__toggle:focus {
                    outline: 3px solid #0bf;
                    outline-offset: 3px
                }

                .splide__track--nav>.splide__list>.splide__slide {
                    border: 3px solid transparent;
                    cursor: pointer
                }

                .splide__track--nav>.splide__list>.splide__slide.is-active {
                    border: 3px solid #000
                }

                .splide__arrows--rtl .splide__arrow--prev {
                    left: auto;
                    right: 1em
                }

                .splide__arrows--rtl .splide__arrow--prev svg {
                    transform: scaleX(1)
                }

                .splide__arrows--rtl .splide__arrow--next {
                    left: 1em;
                    right: auto
                }

                .splide__arrows--rtl .splide__arrow--next svg {
                    transform: scaleX(-1)
                }

                .splide__arrows--ttb .splide__arrow {
                    left: 50%;
                    transform: translate(-50%)
                }

                .splide__arrows--ttb .splide__arrow--prev {
                    top: 1em
                }

                .splide__arrows--ttb .splide__arrow--prev svg {
                    transform: rotate(-90deg)
                }

                .splide__arrows--ttb .splide__arrow--next {
                    bottom: 1em;
                    top: auto
                }

                .splide__arrows--ttb .splide__arrow--next svg {
                    transform: rotate(90deg)
                }

                .splide__pagination--ttb {
                    bottom: 0;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    left: auto;
                    padding: 1em 0;
                    right: .5em;
                    top: 0
                }

                //

                &.edu {
                    figure {
                        background: transparent;
                        backdrop-filter: blur(10px);
                        border-radius: 1em;
                        width: calc(50% + 1px);
                        height: 100%;
                        margin: 0 auto 10vh 0;
                        position: sticky;
                        top: 0;
                        overflow: hidden;
                        box-shadow: 4px -4px 8px rgba(0, 0, 0, .4);

                        @media screen and (max-width: 930px) {
                            width: 100%;
                        }
                    }

                    // figure::after {
                    //     content: '';
                    //     position: absolute;
                    //     top: 5vmin;
                    //     right: 5vmin;
                    //     bottom: 5vmin;
                    //     left: 45%;
                    //     border: 2px dashed #fff;
                    //     outline: 1px solid #fff;
                    //     outline-offset: -5vmin;
                    //     backdrop-filter: grayscale(1);
                    //     pointer-events: none;
                    // }

                    figure:nth-of-type(2n)::after {
                        right: 45%;
                        left: 5vmin;
                    }

                    section {
                        background: #e5e5e5;
                        border-radius: 1em;
                        width: calc(50% + 1px);
                        height: 100%;
                        margin: 0 0 0 auto;
                        position: sticky;
                        top: 0;
                        // overflow: hidden;
                        padding: 5vmin;
                        box-shadow: -4px -4px 8px rgba(0, 0, 0, .4);

                        @media screen and (max-width: 930px) {
                            width: 100%;
                        }
                    }

                    figure:nth-of-type(1) // section:nth-of-type(1) {

                        {
                        margin: 0 0 10vh 0;
                        width: 50%;

                        @media screen and (max-width: 930px) {
                            width: 100%;
                        }
                    }

                    figure:nth-of-type(2n) {
                        margin: 0 0 10vh auto;
                        box-shadow: -4px -4px 8px rgba(0, 0, 0, .4);
                    }

                    section:nth-of-type(2n) {
                        margin: 0 auto 10vh 0;
                        box-shadow: 4px -4px 8px rgba(0, 0, 0, .4);
                    }

                    figure:last-of-type,
                    section:last-of-type {
                        margin-bottom: 0;
                    }

                    section::before {
                        background: inherit;
                        z-index: 1;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 7vmin;
                        height: 7vmin;
                        transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
                        clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
                        box-shadow: -4px -2px 8px rgba(0, 0, 0, .4);
                        border-radius: 1.5vmin 0 0 0;
                    }

                    section:nth-of-type(2n)::before {
                        left: auto;
                        right: 0;
                        transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
                    }

                    section::after {
                        content: '';
                        position: absolute;
                        top: 5vmin;
                        right: 45%;
                        bottom: 5vmin;
                        left: 5vmin;
                        border: 2px dashed #fff;
                        outline: 1px solid #fff;
                        outline-offset: -5vmin;
                        backdrop-filter: invert(1);
                        pointer-events: none;
                    }

                    section:nth-of-type(2n):after {
                        right: 5vmin;
                        left: 45%;
                    }

                    figure img {
                        // min-width: 100%;
                        // min-height: 100%;
                        object-fit: contain;
                        // background: rgba(255, 0, 0, 0.267);
                        // backdrop-filter: blur(10px);
                        object-position: center;
                    }

                    section>div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        padding: 1rem;
                    }

                    h1,
                    h2 {
                        // margin: 15% 0 auto;
                        // font-size: calc(5vmin + 3vmax);
                        // text-align: center;
                        // font-weight: 700;
                        // line-height: 1;
                        // word-spacing: .5rem;
                        mix-blend-mode: difference;
                    }

                    div {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &>h3 {
                            // margin: 50% 0 auto;
                            font-size: calc(5vmin + 3vmax);
                            text-align: center;
                            font-weight: 700;
                            line-height: 1;
                            word-spacing: .5rem;
                            // mix-blend-mode: difference;
                        }
                    }

                    p {
                        // text-align: right;
                        // width: 100%;
                        // font-family: "Cormorant", serif;
                        // font-weight: 400;
                        // font-style: italic;
                        // font-size: calc(1.5vmin + 1.75vmax);
                        // margin-bottom: 5%;
                        mix-blend-mode: difference;
                    }

                    a {
                        color: transparent;
                        -webkit-text-stroke: 2px #212121;
                        text-decoration: none;
                        font-weight: 900;
                        letter-spacing: 2px;
                        mix-blend-mode: difference;
                    }

                    a:hover,
                    a:focus {
                        -webkit-text-stroke: 1px #999;
                    }
                }

                //

                //
                .wrapper {
                    margin-top: 100px;
                    padding-top: 150px;
                    padding-bottom: 0%;
                    position: relative;
                    max-width: 90%;
                    margin: 0 auto;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
                        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                }

                .cardl {
                    margin-top: 100px;
                    padding-top: 150px;
                    padding-bottom: 0%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
                    height: 75vh;
                    margin: 0 auto;
                    position: sticky;
                    // backdrop-filter: blur(10px);
                    padding: 40px;
                    border-radius: 1em;
                }

                .card {
                    top: 30px;
                    position: sticky;
                    border: 1px solid #ccc;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
                    background-color: white;
                    backdrop-filter: blur(10px);
                    color: #333;
                    padding: 40px;
                    border-radius: 1em;
                    margin-bottom: 20px;

                    h2 {
                        padding: 0;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                        color: #0c4eb9;
                    }
                }

                @for $i from 1 through 100 {
                    .card:nth-child(#{$i}n) {
                        top: $i * 20px;
                    }
                }

                //

                .row {
                    display: flex;
                    align-items: center;

                    @media screen and (max-width: 1500px) {
                        flex-direction: column;
                        row-gap: 6vh;
                    }

                    .column {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .stage-cube-cont {
                            // width: 50%;
                            // height: 100%;
                            // padding-top: 18%;
                            // top: 0;
                            // margin-left: 0;
                            // right: 0;
                            // margin: auto;
                            // position: absolute;
                            // overflow: hidden;
                            padding-bottom: 200px;

                            .cubespinner {
                                animation-name: spincube;
                                animation-timing-function: ease-in-out;
                                animation-iteration-count: infinite;
                                animation-duration: 12s;
                                transform-style: preserve-3d;
                                transform-origin: 100px 100px 0;
                                margin-left: calc(50% - 100px);

                                div {
                                    position: absolute;
                                    width: 200px;
                                    height: 200px;
                                    border: 1px solid #ccc;
                                    background: rgba(255, 255, 255, 0.4);
                                    font-size: 100px;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    box-shadow: 0 0 20px 0px lightyellow;

                                    &.face1 {
                                        transform: translateZ(100px);
                                    }

                                    &.face2 {
                                        transform: rotateY(90deg) translateZ(100px);
                                    }

                                    &.face3 {
                                        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
                                    }

                                    &.face4 {
                                        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
                                    }

                                    &.face5 {
                                        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
                                    }

                                    &.face6 {
                                        transform: rotateX(-90deg) translateZ(100px);
                                    }
                                }
                            }
                        }

                        .tt {
                            background: $lightbgls;
                            // column-count: 2;
                            text-align: justify;
                            column-gap: 2em;
                            color: $darkft;
                            box-shadow: inset 10px 10px 20px rgba(151, 187, 217, 0.15),
                                inset -10px -10px 20px rgba(205, 253, 255, 0.15);
                            height: 75%;
                            width: 85%;
                            border-radius: 1em;
                            margin: auto;
                            padding: 1.1em;

                            .candid {
                                position: inherit;
                                height: inherit;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    @-webkit-keyframes fade_move_down {
        0% {
            -webkit-transform: translate(0, -10px) rotate(45deg);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            -webkit-transform: translate(0, 10px) rotate(45deg);
            opacity: 0;
        }
    }

    @-moz-keyframes fade_move_down {
        0% {
            -moz-transform: translate(0, -10px) rotate(45deg);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            -moz-transform: translate(0, 10px) rotate(45deg);
            opacity: 0;
        }
    }

    @keyframes fade_move_down {
        0% {
            transform: translate(0, -10px) rotate(45deg);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translate(0, 10px) rotate(45deg);
            opacity: 0;
        }
    }

    // @keyframes fmount {
    //     0% {
    //         filter: drop-shadow(0px 0px #1b0622);
    //     }

    //     25% {
    //         filter: drop-shadow(1px 1px 2px #1b0622) drop-shadow(-1px -1px 2px #fff);
    //     }

    //     50% {
    //         filter: drop-shadow(0px 0px #1b0622);
    //     }

    //     75% {
    //         filter: drop-shadow(-1px -1px 2px #1b0622) drop-shadow(1px 1px 2px #fff);
    //     }

    //     100% {
    //         filter: drop-shadow(0px 0px #1b0622);
    //     }
    // }

    @keyframes fmountb {
        0% {
            filter: brightness(1.5)
        }

        25% {
            filter: brightness(1);
        }

        50% {
            filter: brightness(1.5);
        }

        75% {
            filter: brightness(1);
        }

        100% {
            filter: brightness(1.5);
        }
    }

    @keyframes bmount {
        0% {
            filter: blur(5px) brightness(2);
        }

        25% {
            filter: blur(5px);
        }

        50% {
            filter: blur(5px) brightness(2);
        }

        75% {
            filter: blur(5px);
        }

        100% {
            filter: blur(5px) brightness(2);
        }
    }

    // @keyframes moon {
    //     0% {
    //         filter: brightness(2.5);
    //     }

    //     25% {
    //         filter: brightness(0.5);
    //     }

    //     50% {
    //         filter: brightness(2.5);
    //     }

    //     75% {
    //         filter: brightness(0.5);
    //     }

    //     100% {
    //         filter: brightness(2.5);
    //     }
    // }

    @keyframes stars {
        0% {
            filter: brightness(2);
            opacity: 1;
        }

        25% {
            // filter: brightness(0);
            opacity: 0.2;
        }

        50% {
            filter: brightness(2);
            opacity: 1;
        }

        75% {
            // filter: brightness(0);
            opacity: 0.2;
        }

        100% {
            filter: brightness(2);
            opacity: 1;
        }
    }

    @keyframes cursor {
        0% {
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes spincube {

        from,
        to {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }

        16% {
            transform: rotateY(-90deg);
        }

        33% {
            transform: rotateY(-90deg) rotateZ(90deg);
        }

        50% {
            transform: rotateY(-180deg) rotateZ(90deg);
        }

        66% {
            transform: rotateY(-270deg) rotateZ(90deg);
        }

        83% {
            transform: rotateX(90deg);
        }
    }
}